* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "logotypejp_corpmin";
    src: url(font/logotypejp_corpmin.ttf);
}

@font-face {
    font-family: "Priyati-Regular";
    src: url(font/Priyati-Regular.ttf);
}

@font-face {
    font-family: "ipaexm";
    src: url(font/ipaexm.ttf);
}

body {
    width: 100%;
    background: url(photo/background.jpg) center center;
    background-size: 100% auto;
}

nav {
    overflow: hidden;
    background-color: rgba(198, 135, 128, 0.4);
    height: 70px;
    width: 100vw;
    z-index: 3;
    position: fixed;
}

nav li {
    list-style-type: none;
    float: left;
}

.header-box {
    height: 70px;
    width: 66%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav-button {
    margin: auto;
    padding: 5px;
}

nav a {
    font-size: 20px;
    font-weight: 300;
    font-family: "logotypejp_corpmin";
    color: rgba(128, 74, 57, 1);
    display: block;
    text-decoration: none;
    transition: 0.5s;

}

nav a:hover {
    color: #fff;
}

header {
    width: 100%;
    height: 100vh;
    position: relative;
}

.header-images {
    width: 83%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit- transform: translateY(-50%) translateX(-50%);
}

.header-text {
    width: 33.3%;
    object-fit: cover;
    position: absolute;
    z-index: 2;
}

.header-tea {
    width: 72%;
    object-fit: cover;
    position: relative;
    padding-left: 25%;
}

.wrapper {
    width: 75%;
    margin: 0 auto;
}

.coffee-or-tea {
    background-color: #fff;
    margin-top: 123px;
    margin-bottom: 123px;
}

.text-frame {
    width: 88%;
    margin: 0 auto;
}

.coffee-or-tea-title-box {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: space-around;
    overflow: auto;
}

.coffee-or-tea-title {
    max-width: 100%;
    height: auto;
}

.coffee-or-tea h1 {
    font-family: "logotypejp_corpmin";
    font-size: 50px;
    text-align: center;
    padding: 30px;
    color: #c68780;
    display: block;
}

.coffee-or-tea h2 {
    font-family: "ipaexm";
    font-size: 30px;
    text-align: center;
    color: #777;
    display: block;
}

.coffee-or-tea p {
    font-family: "ipaexm";
    font-size: 15px;
    color: #777;
    text-align: center;
    padding-bottom: 70px;
    padding-top: 70px;
    line-height: 40px;
    display: block;
}

.yazirusi-img {
    text-align: center;
}

.contents {
    padding-top: 50px;
    padding-bottom: 50px;
}

.about-caffeine {
    background-color: #fff;
    padding-bottom: 53px;
    padding-top: 10px;
}

.about-caffeine h2 {
    font-family: "logotypejp_corpmin";
    font-size: 30px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 10px;
    color: #804a39;
}

.about-caffeine p {
    font-family: "ipaexm";
    font-size: 15px;
    color: #777;
    text-align: left;
    padding: 20px;
    line-height: 40px;
}

.caffeine-img {
    text-align: center;
    padding: 20px;
    max-width: 100%;
}

.caffeine-graph {
    max-width: 100%;
    height: auto;
}

.oxidation-box {
    margin: 0 auto;
    padding: 20px;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.oxidation-img {
    text-align: center;
    padding: 20px;
    display: block;
    max-width: 100%;
}

.about-caffeine h3 {
    font-family: "logotypejp_corpmin";
    font-size: 30px;
    padding: 20px 20px 0px 20px;
    color: #804a39;
}

.type-contents {
    display: flex;
    margin-top: 40px;
    margin-bottom: 60px;
}



.tea-img{
    max-width: 190px;
    height: auto;
    text-align: center;
     margin: 30px;
}

.tea-explanation {
    margin-top: 40px
}

.tea-explanation h3 {
    padding: 10px 0px 10px 30px;
}

.tea-explanation p {
    padding: 10px 0px 10px 30px;
}


.flavor-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 0px 150px 0px;
}

.dissolve-animation {
    padding: 20px 20px;
    width: 190px;
    height: 190px;
    float: left;
    position: relative;
}

.caption p{
     font-family: "ipaexm";
    font-size: 16px;
    color: #000;
    text-align: left;
    padding: 45px 20px;
    line-height: 30px;
    opacity: 0;
}

.caption {
    background: #fff;
    width: 190px;
    height: 190px;
    padding: 10px 20px;
    position: absolute;
    top:0;
    left:0;
    opacity: 0;
}


.caption p:hover{
    font-family: "ipaexm";
    font-size: 15px;
    color: #000;
    text-align: left;
    padding:  45px 20px;
    line-height: 30px;
    opacity: 1;
}

.caption:hover {
    background: #fff;
    width: 190px;
    height: 190px;
    padding: 20px 10px;
    position: absolute;
    top:0;
    left:0;
    opacity: 0.6;
}
.recommended-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 25px 0px;
}

.recommended-text {
    width: 50%;
    height: auto;
}

.recommended-photo {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: space-around;
}

.recommended-text h3 {
    font-family: "logotypejp_corpmin";
    font-size: 30px;
    padding: 5px 10px;
    color: #804a39;
    text-align: left;
}

.recommended-text h4 {
    font-family: "ipaexm";
    font-size: 20px;
    color: #777;
    text-align: left;
    padding: 5px 10px;
    line-height: 40px;
}

.recommended-text li {
    font-family: "ipaexm";
    font-size: 18px;
    color: #777;
    text-align: left;
    padding: 5px 10px;
    line-height: 30px;
    max-width: 480px;
}

.recommended {
    padding-bottom: 50px;
}

footer {
    background: #c68780;
    width: 100%;
    height: 50px;
}

footer p {
    font-family: "ipaexm";
    font-size: 20px;
    color: #777;
    text-align: center;
    padding: 15px;
}
